div {
  height: 477px;
}

#Main {
  /*visibility: hidden;*/
}

#Invis {
  visibility: hidden;
}

#Vis {
  visibility: visible;
}

#Vis {
  visibility: visible;
}

#Invis {
  visibility: hidden;
}

#Invis {
  visibility: hidden;
}

#vis {
  visibility: visible;
}

#Vis {
  visibility: visible;
}

